<div class='clearfix'>
        <button class='btn btn-success m-2 float-right' {{action 'addclick'}}>Add book</button>
</div>
{{#if isaddclicked}}
<div class="clearfix m-4 bg-info p-3">
    <button {{action 'newbook'}} class="float-right">Add book to library</button>
    <div class="float-left w-50">
        <div class="clearfix">
            <label class="float-left d-inline w-50">Title of the book</label>
            {{input id="title" type="text" class="float-right form-control d-inline w-50"  placeholder="Title"}}
        </div><br>
        <div class="clearfix">
            <label class="float-left d-inline w-50">Name of the author</label>
            {{input id="author" type="text" class="float-right form-control d-inline w-50"  placeholder="Author"}}
        </div><br>  
        <div class="clearfix">
            <label class="float-left d-inline w-50">Publication</label>
            {{input id="publication" type="text" class="float-right form-control d-inline w-50"  placeholder="Publication"}}
        </div><br> 
        <div class="clearfix">
            <label class="float-left d-inline w-50">Year</label>
            {{input id="year" type="text" class="float-right form-control d-inline w-50"  placeholder="Year"}}
        </div><br> 
        <div class="clearfix">
            <label class="float-left d-inline w-50">Category</label>
            <div class="clearfix float-right w-50">
                <div class="float-left w-50">
                    {{input id="technical" type="radio" class=" d-inline" name="category"}}Technical<br>
                    {{input id="reference" type="radio" class=" d-inline" name="category"}}Reference
                </div>
                <div class="float-right w-50">
                    {{input id="journal" type="radio" class=" d-inline" name="category"}}Journal<br>
                    {{input id="special" type="radio" class=" d-inline" name="category"}}Special
                </div>
            </div>
        </div><br>   
    </div>
</div>
{{/if}}
{{yield}}