<div class='w-50 float-left d-inline' onclick={{action "expand"}}>
    <h3>{{this.model.title}}</h3>
    <h5>{{this.model.author}}</h5>
    {{#if isExpanded}}
        <div>
            {{this.model.publication}}<br>
               Published in the year {{this.model.year}}<br>
               Category: {{this.model.category}}
        </div>
    {{/if}}
</div>

{{yield}}