<div class="container position-fixed fixed-bottom p-3 bg-light">
    <div class="float-left d-inline">
        <h3>{{this.model.title}}</h3>
        <h4>{{this.model.author}}</h4>
        <h4>{{this.model.publication}}</h4>
        <h4>{{this.model.year}}</h4>
        <h4>{{this.model.category}}</h4>
    </div>
    <div class="float-right d-inline">
        <button {{action "back"}}>X</button>
        </div> 
</div>

{{outlet}}