<div class="container w-100 alert-primary">
    <div>
        <h2 class="text-center">BOOK STORE</h2>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="clearfix collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="float-left navbar-nav mr-auto">
                <li class="d-inline nav-item" style="margin:10px">
                    <LinkTo class="btn nav-link" @route="home">Home<span class="sr-only">(current)</span></LinkTo>
                </li>
                <li class="d-inline nav-item" style="margin:10px">
                    <LinkTo class="btn nav-link" @route="offers">Offers</LinkTo>
                </li>
                <li class="d-inline nav-item" style="margin:10px">
                    <LinkTo class="btn nav-link" @route="about">About</LinkTo>
                </li>  
                <li class="d-inline nav-item" style="margin:10px">
                    <LinkTo class="btn nav-link" @route="contact">Contact</LinkTo>
                </li>   
            </ul>
             
        </div>
    </nav>
</div>




{{outlet}}