<div class="container">
    {{#each this.model.user as |user|}}
    {{#if user.isAdmin}}
    <AddBook></AddBook>
    {{/if}}
    {{/each}}
    <div>
        {{#each this.model.books as |book|}}
        <div class="w-100 container border border-primary my-2 clearfix">
            <BookView @model={{book}}></BookView>
            <div class="float-right d-inline w-20 m-2">
                {{#each this.model.user as |user|}}
                <button class="btn btn-success" {{action "addbook" user book log}}>Add to my library</button>
                {{#if user.isAdmin}}
                <button class="btn btn-success" {{action "removebook" book}}>Remove book</button>
                {{/if}}
                {{/each}}
                
                <LinkTo @route='booklist.book' @model={{book}}><button class="btn btn-success">Know more &#8595;</button></LinkTo>
            </div>
        </div>
            
        {{/each}}
    </div>
    
</div>
{{outlet}}