
<div class="container text-center">
    <div class="clearfix m-3">
        <div class="float-left d-inline">
            {{#if this.model.auth.isSignedIn}}
                {{#each this.model.user as |user|}}
                    <h3>Welcome {{user.name}}</h3>
                {{/each}}
            {{else}}
            <h3>Please sign in &#8594;</h3>
            {{/if}} 
        </div>
        <div class="float-right d-inline">
            {{#if this.model.auth.isSignedIn}}
                {{#each this.model.user as |user|}}
                    <button class="btn btn-danger text-white p-2" {{action "logout"}}>Logout</button>
                {{/each}}
            {{else}}
            <button class="btn btn-success p-2">
                <LinkTo @route="login" class="text-white">Login</LinkTo>
            </button> 
            {{/if}} 
            
        </div>
    </div>
    <div class="d-block w-50 text-center">
        <button class='w-100 btn btn-primary m-3'><LinkTo @route="booklist" class="text-white">List of books</LinkTo></button>
        {{#if this.model.auth.isSignedIn}}
        <button class='w-100 btn btn-primary m-3'><LinkTo @route="mybooks" class="text-white">My books</LinkTo></button>
        <button class='w-100 btn btn-primary m-3'><LinkTo @route="mylog" class="text-white">My activities</LinkTo></button>
        {{#each this.model.user as |user|}}
            {{#if user.isAdmin}}
                <button class='w-100 btn btn-primary m-3'><LinkTo @route="loglist" class="text-white">Library logs</LinkTo></button>
            {{/if}}
        {{/each}}
        {{/if}}
    </div>
</div>



