<div class="container text-center"><br>
    <fieldset class="form col-lg-6 d-inline text-left" style="border:5px solid rgb(164, 217, 235); border-radius:20px; padding: 24px 30px">
        <legend class="text-center">Login</legend>
        <div class="clearfix">
            <label class="d-inline float-left w-50">Username</label>
            {{input id="username" type="text" class="form-control d-inline float-right w-50" value=price placeholder="User_name"}}
        </div><br>
        <div class="clearfix">
            <label class="d-inline float-left w-50">Password</label>
            {{input id="password" type="password" class="form-control d-inline float-right w-50" value=amount placeholder="Password"}}
        </div><br>
        <br>
        <button {{action 'getin'}} class="add-button">Get in</button>
    </fieldset>
    <br>
    <br>
    <div>
        <p>Still not a user??, <LinkTo  @route="signup">Signup</LinkTo></p>
    </div>

</div>





