{{#each this.model.user as |user|}}
    {{#if user.isAdmin}}
    <div class='container'>
        {{#each this.model.logs as |logs|}}
            {{#each logs.logs as |log|}}
                <div class='bg-success m-2'>
                    <p>{{log}}</p>
                </div>
            {{/each}}
        {{/each}}
    </div>
    {{/if}}
{{/each}}
{{outlet}}