{{#if this.model.auth.isSignedIn}}
    {{#each this.model.user as |user|}}

        {{#each user.books as |book index|}}
            <div class="container w-100 border border-primary clearfix p-3 my-2">
                <div class='float-left d-inline w-60'>
                    {{#each-in book as |cat info|}}
                        <h4>{{cat}} : {{info}}</h4>
                    {{/each-in}}
                </div>
                <div class='float-right d-inline w-30'>
                    <button class='btn btn-primary' {{action "removeBook" user book.title index log}}>Remove from collection</button>
                </div>
            </div>
        {{/each}}

    {{/each}}
{{/if}}
{{outlet}}