<div class="container">
    {{#if this.model.auth.isSignedIn}}
        {{#each this.model.user as |user|}}
            <div class="clearfix">
                <button class="btn btn-danger float-right m-2" {{action 'clearlogs' user}}>Clear logs</button>
            </div>
            {{#each user.history as |activity|}}
              <p class="bg-success m-2">{{activity}}</p>
            {{/each}}
        {{/each}}
    {{/if}}
</div>


{{outlet}}