<div class="container text-center"><br>
    <fieldset class="form col-lg-6 d-inline text-left" style="border:5px solid rgb(164, 217, 235); border-radius:20px; padding: 24px 30px">
        <legend class="text-center">User details</legend>
        <div class="clearfix">
            <label class="d-inline-block float-left w-50">Enter your name</label>
            {{input id="name" type="text" class="form-control d-inline-block float-right w-50" value=name placeholder="Name"}}
        </div><br>
        <div class="clearfix">
            <label class="d-inline float-left w-50">Date of Birth</label>
            {{input id="dob" type="date" class="form-control d-inline float-right w-50" value=dob placeholder="DD/MM/YYYY"}}
        </div><br>
        <div class="clearfix">
            <label class="d-inline float-left w-50">Gender</label>
            <div class="float-right w-50">
                {{input id="male" type="radio" class="d-inline" value="Male" name="gender" value=gender}}Male
                {{input id="female" type="radio" class="d-inline" value="Female" name="gender" value=gender}}Female         
            </div>
        </div><br>
        <div class="clearfix">
            <label class="d-inline float-left w-50">E-mail or Ph.number</label>
            {{input id="contact" type="text`" class="form-control d-inline float-right w-50" value=amount placeholder="e-mail or ph.num"}}
        </div><br>
    </fieldset>
    <br>
    <br>
    <fieldset class="form col-lg-6 d-inline text-left" style="border:5px solid rgb(164, 217, 235); border-radius:20px; padding: 24px 30px">
        <legend class="text-center">User credentials</legend>
        <div class="clearfix">
            <label class="d-inline float-left w-50">Username</label>
            {{input id="username" type="text" class="form-control d-inline float-right w-50" value=u-name placeholder="User_name"}}
        </div><br>
        <div class="clearfix">
            <label class="d-inline float-left w-50">Set password</label>
            {{input id="password" type="password" class="form-control d-inline float-right w-50" value=pass placeholder="Password"}}
        </div><br>
        <div class="clearfix">
            <label class="d-inline float-left w-50">Confirm password</label>
            {{input type="password" class="form-control d-inline float-right w-50" placeholder="Password"}}   
        </div><br>   
    </fieldset>
    <br>
    <br>
    <button {{action 'signup'}} class="add-button">Submit</button>
</div>

{{#each this.model as |u|}}
    <h3>{{u.name}}</h3>
    <h3>{{u.gender}}</h3>
    <h3>{{u.dob}}</h3>
    {{/each}}
<br>

